extends layout

include authors

block content
  - // The reduce is to handle the multiple year directories
  - var seminarEvents = _.chain(contents.eventsnews.seminars._.directories).reduce( function (memo,v) {
  -   return memo.concat(_.toArray(v))
  -  }, [ ]).map( function(item) {
  -   return item.index
  - }).compact().value()
  - // These are the other events, these only go one directory deep
  - var otherEvents = _.chain(contents.eventsnews._.directories).map(function(item) {
  -   return item.index
  - }).compact().value()
  - // Concat the events and create dictionary mapping year to lists of events
  - var events = _.chain(seminarEvents.concat(otherEvents)).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var years = _.chain(events).keys().reverse().value()

  each year in years
    each event in _.sortBy(events[year], function(item) { return -item.date })
      article.event
        header
          p.date
            span= moment(event.metadata.date).format('MMM Do, YYYY, h:mm a')
            |  in  
            = event.metadata.room
            if event.metadata.author != null
              span.label.label-info.pull-right
                | Seminar
          h2
            a(href=event.url)
              = event.title
        section.content
          !{ typogr(event.intro).typogrify() }
          if event.hasMore
            p
              a(href=event.url)
               | Read more→

          a(href=event.url + '#disqus_thread', data-disqus-identifier=event.url) Link
          // Consider the event to be a seminar if author is defined in the metadata
          if event.metadata.author != null
            .meta
              if event.metadata.author instanceof Array
                each author in event.metadata.author
                  +author(author)
              else
                +author(event.metadata.author)
      .clearfix

block append scripts
  include includes/disqus
  +disqus_script('imperialacm')
