extends layout

block prepend title
  | #{page.title} - 

block content
  section
    h1 Events
    p.lead
      | Talks, tutorials, tours and visits, it is your call; let us know if you have an idea for an event.

    - var events = _.chain(contents.events._.directories).map(function(item) {
    -   return item.index
    - }).compact().groupBy(function(item) {
    -   return item.date.getFullYear()
    - }).value()
    - var years = _.chain(events).keys().reverse().value()

    each year in years
      each event in _.sortBy(events[year], function(item) { return -item.date })
        article.event
          header
            p.date
              span= moment.utc(event.metadata.date).format('MMM Do, YYYY, h:mm a')
              |  in  
              = event.metadata.room
            h2
              a(href=event.url)= event.title
          section.content
            !{ typogr(event.intro).typogrify() }
            a(href=event.url + '#disqus_thread', data-disqus-identifier=event.url) Link
        .clearfix

block append scripts
  include includes/disqus
  +disqus_script('imperialacm')
