extends layout

mixin author(authorName)
  - var author = contents.authors[authorName + '.json']
  .author
    a.photo(href='#')
      img.img-circle(src=author.metadata.photo, width=100)
    p
      span.author-name
        if author
          a(href='mailto:'+author.metadata.email)= author.metadata.name
        else
          =authorName
      | &nbsp;
      = author.metadata.bio
      | &nbsp;
      a(href=author.metadata.homepage) More about me→
  .clearfix

block append vars
  - bodyclass = 'event-detail'

block content
  article.event
    header
      p.date
        span= moment(page.metadata.date).format('MMM Do, YYYY, h:mm a')
        |  in  
        = page.metadata.room
      h2
        a(href=page.url)= page.title
    section.content
      !{ typogr(page.html).typogrify() }
    if page.metadata.author != null
      .meta
        if page.metadata.author instanceof Array
          each author in page.metadata.author
            +author(author)
        else
          +author(page.metadata.author)
  .clearfix
  include includes/disqus
  +disqus('imperialacm', page.url, page.title, page.url)
