doctype xml
rss(version='2.0',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:wfw='http://wellformedweb.org/CommentAPI/',
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    - var news = _.chain(contents.news._.directories).map(function(item) {
    -   return item.index
    - }).sortBy(function(item) {
    -   return -item.date
    - }).value()
    title= locals.name
    atom:link(href=locals.url + '/feed.xml', rel='self', type='application/rss+xml')
    link= locals.url
    description= locals.description
    pubDate= news[0].rfc822date
    language en
    each item in news
      - var permalink = locals.url + item.url
      item
        title= item.title
        link= permalink
        pubDate= item.rfc822date
        guid(isPermaLink='true')= permalink
        description= item.getHtml(locals.url)
