doctype
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content=locals.description)
      meta(name='author', content=locals.owner)
      block meta
        include meta
        //-+twitter(page.title, page.intro, locals.url+'/img/glyph.png')
        //-+opengraph(page.title, page.intro, locals.url, locals.name)
        //-+facebook('669242093100445')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/ss-social.css')
      link(rel='stylesheet', href='/css/app.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      //if lt IE 9
        script(src='/js/html5shiv.js')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
      link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
      link(rel='shortcut icon', href='/ico/favicon.png')
      link(rel='publisher', href='http://plus.google.com/109158233053938515993')
      include includes/analytics
      +analytics('UA-45260420-1')
  body(class=bodyclass, data-spy='scroll', data-target='.site-sidebar')
    header.navbar.navbar-default.site-nav(role='navigation')
      block header
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/', title=locals.name)
              img(alt=locals.description, src='/img/logo-alt.png', width='200px')
          nav.pull-right.navbar-collapse.collapse.nav-collapse
            include includes/menu
            ul.nav.navbar-nav
              +menu('News', '/news/')
              //-li.dropdown
                //-a.dropdown-toggle(href='#', data-toggle='dropdown') Seminars
                  //-b.caret
                //-ul.dropdown-menu
                  //-li: a(href='/seminars/') Seminar
                  //-li: a(href='/seminars/guidelines.html') Guidelines
              +menu('Events', '/events/')
              +menu('Seminars', '/seminars/')
              +menu('Workshops', '/workshops/')
              +menu('People', '/people/')
            //+search('Search')(class='navbar-form navbar-right')
    .site-content
      block content
    footer.site-footer(role='contentinfo')
      block footer
        .container.content
          .row
            .about.col-lg-7
              h3 About Imperial College London ACM Student Chapter
              p
                | The aim of Imperial College London ACM Student Chapter is to
                | create a strong Computing research student community within
                | our university. We encourage all students to actively
                | participate in organising and attending chapter activities.
            .social.col-lg-5
              ul.services.pull-right.unstyled
                li
                  a.ss-icon.ss-social-circle.ss-mail(href='mailto:acm@imperial.ac.uk')
                li
                  a.ss-icon.ss-social-circle.ss-twitter(href='https://twitter.com/imperialacm')
                li
                  a.ss-icon.ss-social-circle.ss-googleplus(href='https://plus.google.com/u/0/communities/114497947449485471277')
                li
                  a.ss-icon.ss-social-circle.ss-facebook(href='https://www.facebook.com/imperialacm')
                li
                  a.ss-icon.ss-social-circle.ss-linkedin(href='http://www.linkedin.com/groups/Imperial-College-London-ACM-Student-6522268')
                li
                  a.ss-icon.ss-social-circle.ss-octocat(href='https://github.com/imperialacm')
          //-.sitemap.row
            //-ul.list-unstyled
              //-li: strong Chapter
              //-each
            //-ul.list-unstyled
              //-li: strong Seminars
              //-li: a Guidelines
          .signoff
            //-a.logo(href=locals.url, title=locals.name)
              //-img(alt=locals.description, src='/img/logo-inverse-alt.png', width='150px')
            p.credit &copy; #{ new Date().getFullYear() } 
              a(href=locals.url)= locals.owner
    block scripts
      script(src='https://code.jquery.com/jquery-1.10.2.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/app.js')
      //-include search
      //-+search
