extends layout

block prepend title
  | #{page.title} - 

block header
  h1 People
  p.lead
    | Whenever you have something to say, just talk to us, we are here for you.

block content
  - var people = _.chain(contents.people._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return item.metadata.order
  - }).value()

  each person in people
    article.event
      header
        a.photo(href=person.metadata.website != null ? person.metadata.website : '#')
          img.img-circle(src=person.metadata.photo, width=100)
        h2= person.metadata.name
          | 
          span.text-muted= person.metadata.position
      section.content
        !{ typogr(person.html).typogrify() }

  - var members = _.chain(contents.people._.pages).filter(function(item) {
  -   return 'name' in item.metadata
  - }).sortBy(function(item) {
  -   return item.metadata.name
  - }).value()

  section.team
    h2 Members 
      span.text-muted of the chapter
    p.lead
      | Students of Imperial College London contributing to make a difference.
    .row
      each member in members
        .col-lg-2
          .people
            a(href=member.metadata.website != null ? member.metadata.website : '#')
              img.thumb.img-circle(src='/img/' + member.filename.replace(/(.+)\.[^.]+$/, '$1') + '.jpg', width=100)
            h4= member.metadata.name
