extends layout

block content
  - var people = _.chain(contents.people._.pages).filter(function(item) {
  -   return 'order' in item.metadata
  - }).filter(function(item) {
  -   return 'position' in item.metadata
  - }).filter(function(item) {
  -   return 'bio' in item.metadata
  - }).sortBy(function(item) {
  -   return item.metadata.order
  - }).value()

  each person in people
    article.event
      header
        a.photo(href=person.metadata.website != null ? person.metadata.website : '#/')
          img.img-circle(src='/img/people/' + person.metadata.photo, width=100)
        h2
          a(href=person.metadata.website != null ? person.metadata.website : '#/')= person.metadata.name
          | &nbsp
          span.text-muted= person.metadata.position
      section.content= person.metadata.bio

  - var members = _.chain(contents.people._.pages).filter(function(item) {
  -   return 'member' in item.metadata
  - }).sortBy(function(item) {
  -   return item.metadata.name
  - }).value()

  section.team
    h2 Members 
      span.text-muted of the chapter
    p.lead
      | Those who contribute to the chapter to make a difference.
    .row
      each member,index in members
        if index % 6 == 0
          .div.clearfix.visible-lg-block
        .col-lg-2
          .people
            a(href=member.metadata.website != null ? member.metadata.website : '#/')
              img.thumb.img-circle(src='/img/people/' + member.metadata.photo, width=100)
            h5
              a(style ="color:black" href=member.metadata.website != null ? member.metadata.website : '#/')
                =member.metadata.name
